/* Master Styles */
h2 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
}

body { 
  margin: 2em; 
  background-color: rgb(242,242,242);
}
body, input, button { 
  color: #666; 
  font-family: Cambria, Georgia; 
}
input{
  padding: 5px;
  font-size: 14px;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}
.num-box{
  display: inline-block;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #ccc;
  color: #111;
  font-family: monospace;
  width: 35px;
  max-width: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: -2px;
  
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.num-box:hover{
  background: #88ffaa;
}
.centered{
  text-align: center;
}
nav{
  padding: 20px;
}
.nowrap{
  white-space: nowrap;
}
.info>span{
  display: inline-block;
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.44);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.44);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}